<div class="p-3 flex-grow-1">
    <pre
        class="rounded"
    ><code class="language-python" style="height: 410px;">@mysql_router.get("/where/int")
async def mysql_where_int(user_id: str):
response = await asyncio.to_thread(
run_mysql,
SQL=f"""SELECT user_id, username, firstname,
lastname, email, role, age
FROM Users
WHERE user_id={user_id};""",
)

if not response:
return {"message": "invalid user_id"}

if response[0]["role"] == "admin":
return {"message": "unauthorized action"}

return response[0]
</code></pre>
</div>  
