<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/atom-one-dark.css" />
    <script src="./static/bootstrap.bundle.min.js"></script>
    <script src="./static/highlight.min.js"></script>

    <title>SQLi Test</title>
    <style>
        #left-container {
            display: inline-block;
            width: calc(47%);
            margin-right: 3%;
        }

        #right-container {
            display: inline-block;
            width: calc(49.5%);
        }

        @media (max-width: 1024px) {
            #left-container,
            #right-container {
                display: block;
                width: 100%;
            }
        }
    </style>
</head>
