<ul class="nav justify-content-evenly border-bottom border-2 py-3 w-75 m-auto">
    <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
        >
            <img src="./static/mysql.png" width="80" alt="mysql icon" />
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li>
                <a class="dropdown-item" href="/?db=mysql&context=where-int"
                    ><span class="badge text-bg-success">WHERE</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a class="dropdown-item" href="/?db=mysql&context=where-string"
                    ><span class="badge text-bg-success">WHERE</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a class="dropdown-item" href="/?db=mysql&context=like-int"
                    ><span class="badge text-bg-success">LIKE</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a class="dropdown-item" href="/?db=mysql&context=like-string"
                    ><span class="badge text-bg-success">LIKE</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a class="dropdown-item" href="/?db=mysql&context=order-by-int"
                    ><span class="badge text-bg-success">ORDER BY</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a
                    class="dropdown-item"
                    href="/?db=mysql&context=order-by-string"
                    ><span class="badge text-bg-success">ORDER BY</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a class="dropdown-item" href="/?db=mysql&context=in-int"
                    ><span class="badge text-bg-success">IN</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a class="dropdown-item" href="/?db=mysql&context=in-string"
                    ><span class="badge text-bg-success">IN</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
        >
            <img src="./static/postgresql.png" width="60" alt="mysql icon" />
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li>
                <a
                    class="dropdown-item"
                    href="/?db=postgresql&context=where-int"
                    ><span class="badge text-bg-success">WHERE</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a
                    class="dropdown-item"
                    href="/?db=postgresql&context=where-string"
                    ><span class="badge text-bg-success">WHERE</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a
                    class="dropdown-item"
                    href="/?db=postgresql&context=like-string"
                    ><span class="badge text-bg-success">LIKE</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a
                    class="dropdown-item"
                    href="/?db=postgresql&context=order-by-int"
                    ><span class="badge text-bg-success">ORDER BY</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a
                    class="dropdown-item"
                    href="/?db=postgresql&context=order-by-string"
                    ><span class="badge text-bg-success">ORDER BY</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a class="dropdown-item" href="/?db=postgresql&context=in-int"
                    ><span class="badge text-bg-success">IN</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a
                    class="dropdown-item"
                    href="/?db=postgresql&context=in-string"
                    ><span class="badge text-bg-success">IN</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
        >
            <img src="./static/mssql.png" width="80" alt="mysql icon" />
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li>
                <a class="dropdown-item" href="/?db=mssql&context=where-int"
                    ><span class="badge text-bg-success">WHERE</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a class="dropdown-item" href="/?db=mssql&context=where-string"
                    ><span class="badge text-bg-success">WHERE</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a class="dropdown-item" href="/?db=mssql&context=like-string"
                    ><span class="badge text-bg-success">LIKE</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a class="dropdown-item" href="/?db=mssql&context=order-by-int"
                    ><span class="badge text-bg-success">ORDER BY</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a
                    class="dropdown-item"
                    href="/?db=mssql&context=order-by-string"
                    ><span class="badge text-bg-success">ORDER BY</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a class="dropdown-item" href="/?db=mssql&context=in-int"
                    ><span class="badge text-bg-success">IN</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a class="dropdown-item" href="/?db=mssql&context=in-string"
                    ><span class="badge text-bg-success">IN</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
        >
            <img src="./static/oracle.png" width="60" alt="mysql icon" />
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li>
                <a class="dropdown-item" href="/?db=oracle&context=where-int"
                    ><span class="badge text-bg-success">WHERE</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a class="dropdown-item" href="/?db=oracle&context=where-string"
                    ><span class="badge text-bg-success">WHERE</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a class="dropdown-item" href="/?db=oracle&context=like-string"
                    ><span class="badge text-bg-success">LIKE</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a class="dropdown-item" href="/?db=oracle&context=order-by-int"
                    ><span class="badge text-bg-success">ORDER BY</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a
                    class="dropdown-item"
                    href="/?db=oracle&context=order-by-string"
                    ><span class="badge text-bg-success">ORDER BY</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
            <hr />
            <li>
                <a class="dropdown-item" href="/?db=oracle&context=in-int"
                    ><span class="badge text-bg-success">IN</span>
                    <span class="badge text-bg-primary">INT</span></a
                >
            </li>
            <li>
                <a class="dropdown-item" href="/?db=oracle&context=in-string"
                    ><span class="badge text-bg-success">IN</span>
                    <span class="badge text-bg-light">STRING</span></a
                >
            </li>
        </ul>
    </li>
</ul>
