<script>
    hljs.highlightAll();

    const userInput = document.getElementById("user_input");
    const sqlCodeElement = document.getElementById("sql");
    const submitButton = document.getElementById("submit-button");
    const jsonOutput = document.getElementById("json-output");

    function callAPI() {
        const user_input = userInput.value;
        fetch({{ context.api_endpoint }})
            .then((response) => response.json())
            .then((data) => {
                // console.log('JSON data:', data);
                jsonOutput.innerHTML = `<code class="language-json" style="height: 350px">${JSON.stringify(
                    data,
                    null,
                    4
                )}</code>`;
                hljs.highlightAll();
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    }

    userInput.addEventListener("input", () => {
        const user_input = userInput.value;
        sqlCodeElement.innerHTML = {{ context.sql_update|safe }};
        hljs.highlightAll();
    });

    // on enter
    userInput.addEventListener("keydown", (event) => {
        if (event.key === "Enter") {
            callAPI()
        }
    });

    // on click
    submitButton.addEventListener("click", () => {
        callAPI()
    });
</script>
