<script>
    hljs.highlightAll();

    const userInput = document.getElementById("user_input");
    const sqlCodeElement = document.getElementById("sql");
    const submitButton = document.getElementById("submit-button");
    const jsonOutput = document.getElementById("json-output");

    userInput.addEventListener("input", () => {
        const userId = userInput.value;
        sqlCodeElement.innerHTML = {{ context.sql_update|safe }};
        hljs.highlightAll();
    });

    submitButton.addEventListener("click", () => {
        const userId = userInput.value;
        fetch({{ context.api_endpoint }})
            .then((response) => response.json())
            .then((data) => {
                // console.log('JSON data:', data);
                jsonOutput.innerHTML = `<code class="language-json" style="height: 350px">${JSON.stringify(
                    data,
                    null,
                    4
                )}</code>`;
                hljs.highlightAll();
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    });
</script>
