<div class="p-3 flex-grow-1">
    <div class="input-group mb-3">
        <input
            type="text"
            class="form-control border border-3"
            placeholder="user_id"
            id="user_input"
        />
        <button class="btn btn-success" type="button" id="submit-button">
            Submit
        </button>
    </div>
    <pre
        class="rounded"
        id="json-output"
    ><code class="language-json" style="height: 350px">{
    "user_id": 1,
    "username": "christinajohnson",
    "firstname": "Matthew",
    "lastname": "Marshall",
    "email": "qortiz@example.org",
    "role": "customer",
    "age": 27
}</code></pre>
</div>
